@media (max-width: 920px) {
  header {
    padding: 20px 0;
  }
  nav .nav-list {
    width: 400px;
    transition: all 0.55s;
  }
  .nav-logo {
    width: 180px;
    transition: all 0.55s;
  }
  .container {
    align-items: flex-start;
  }
  .container p {
    margin: 0 0px 20px 10px;
    transition: all 0.5s linear;
  }
  .container p:nth-child(1),
  .container p:nth-child(5) {
    margin-left: 10px;
    transition: all 0.5s linear;
  }
  .container p:nth-child(3) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  header {
    padding: 20px 0;
  }
  nav .nav-list {
    width: 400px;
  }
  .nav-logo {
    width: 100px;
    transition: all 0.55s;
  }
  .checkbtn {
    display: flex;
    order: 1;
    margin: 10px 20px;
    transition: all 0.55s linear;
  }
  nav .nav-list {
    position: fixed;
    top: 80px;
    right: 100%;
    background-color: rgba(162, 163, 164, 0.793);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.55s linear;
  }
  ul li {
    margin: 20px 0;
  }

  ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }
  .container {
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    transition: align-items 0.5s;
  }
  .container p {
    width: 90%;
    max-width: 100%;
    justify-content: center;
  }
  .container p:nth-child(1),
  .container p:nth-child(5),
  .container p:nth-child(3) {
    margin-left: 0;
    margin-right: 0;
  }
  .picture {
    flex-wrap: wrap;
  }
  .picture img {
    width: 90%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
}
@media (max-width: 500px){
  .container p{
    font-size: 10px;
    overflow-y: auto;
  }
  .footer-logo, address a{
    font-size: 10px;
  }

}